REDIS_HOST=localhost
REDIS_PORT=6379


JWT_SECRET=random_String_sdhfshdfhshdfsdhfshdfshdfhshdfhsdfhshdfhsdhfshdfhshdfs_sdfsjdfjsdhfjsdhfjshdfjsdhj


MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_REPLY_FROM=sample@gmail.com